@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply duration-500 ease-in-out;
    }
    * {
        @apply
        leading-tight
        tracking-tight
        focus:ring-primary-600
        focus:outline-none
        focus:outline-primary-600
        active:ring-primary-600
        active:outline-primary-600
        active:border-primary-600
        focus:border-primary-600
        focus:ring-2
        focus:ring-offset-2;
    }
}
@layer components {
    .prime-btn {
        @apply rounded-xl xl:text-xl lg:text-xl md:text-lg md:p-4 p-3 transition-colors duration-200 ease-in-out;
    }
    .home-hero-heading-bg {
        @apply absolute top-0 left-0 w-full lg:h-screen h-auto -z-[1] opacity-[0.15];
    }
    .section {
        @apply grid bg-slate-100 xl:h-screen lg:h-screen h-auto w-full p-0 m-auto place-items-center dark:bg-gray-800 dark:text-white;
    }
    .section-child {
        @apply max-w-content text-center xl:px-[6rem] md:px-[3rem] p-0 xl:mx-60 md:mx-32 m-4 rounded-lg;
    }
    .max-w-content {
        @apply max-w-6xl m-auto;
    }
    .header-leading {
        @apply xl:leading-[3.5rem] lg:leading-[3rem] md:leading-7 leading-6;
    }
}
@layer utilities {
}
